# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor
.idea/
.vscode/

# Secrets - It is critical to not commit this file
config.py
*.key

# Logs and Data
logs/
data/
*.log